In [1]:
!pip install pandas_read_xml

Collecting pandas_read_xml
  Downloading https://files.pythonhosted.org/packages/ea/9e/6d16891cdec58961372d71179d421866cbefb787b34b4d9480a350e299c1/pandas_read_xml-0.0.7-py3-none-any.whl
Requirement already satisfied: pandas<2,>=1.0.3 in /usr/local/lib/python3.6/dist-packages (from pandas_read_xml) (1.0.5)
Requirement already satisfied: certifi<2021,>=2020.4.5.1 in /usr/local/lib/python3.6/dist-packages (from pandas_read_xml) (2020.6.20)
Requirement already satisfied: numpy<2,>=1.18.4 in /usr/local/lib/python3.6/dist-packages (from pandas_read_xml) (1.18.5)
Collecting pyarrow<1,>=0.17.0
  Downloading https://files.pythonhosted.org/packages/ba/3f/6cac1714fff444664603f92cb9fbe91c7ae25375880158b9e9691c4584c8/pyarrow-0.17.1-cp36-cp36m-manylinux2014_x86_64.whl (63.8MB)
     |████████████████████████████████| 63.8MB 67kB/s
Requirement already satisfied: python-dateutil<3,>=2.8.1 in /usr/local/lib/python3.6/dist-packages (from pandas_read_xml) (2.8.1)
Requirement already satisfied: requests<3,>=2.23.0 in /usr/local/lib/python3.6/dist-packages (from pandas_read_xml) (2.23.0)
Requirement already satisfied: idna<3,>=2.9 in /usr/local/lib/python3.6/dist-packages (from pandas_read_xml) (2.10)
Collecting pytz<2021,>=2020.1
  Downloading https://files.pythonhosted.org/packages/4f/a4/879454d49688e2fad93e59d7d4efda580b783c745fd2ec2a3adf87b0808d/pytz-2020.1-py2.py3-none-any.whl (510kB)
     |████████████████████████████████| 512kB 41.8MB/s
Requirement already satisfied: six<2,>=1.14.0 in /usr/local/lib/python3.6/dist-packages (from pandas_read_xml) (1.15.0)
Collecting urllib3<2,>=1.25.9
  Downloading https://files.pythonhosted.org/packages/9f/f0/a391d1463ebb1b233795cabfc0ef38d3db4442339de68f847026199e69d7/urllib3-1.25.10-py2.py3-none-any.whl (127kB)
     |████████████████████████████████| 133kB 44.0MB/s
Collecting xmltodict<1,>=0.12.0
  Downloading https://files.pythonhosted.org/packages/28/fd/30d5c1d3ac29ce229f6bdc40bbc20b28f716e8b363140c26eff19122d8a5/xmltodict-0.12.0-py2.py3-none-any.whl
Requirement already satisfied: chardet<4,>=3.0.4 in /usr/local/lib/python3.6/dist-packages (from pandas_read_xml) (3.0.4)
ERROR: kaggle 1.5.6 has requirement urllib3<1.25,>=1.21.1, but you'll have urllib3 1.25.10 which is incompatible.
ERROR: datascience 0.10.6 has requirement folium==0.2.1, but you'll have folium 0.8.3 which is incompatible.
Installing collected packages: pyarrow, pytz, urllib3, xmltodict, pandas-read-xml
  Found existing installation: pyarrow 0.14.1
    Uninstalling pyarrow-0.14.1:
      Successfully uninstalled pyarrow-0.14.1
  Found existing installation: pytz 2018.9
    Uninstalling pytz-2018.9:
      Successfully uninstalled pytz-2018.9
  Found existing installation: urllib3 1.24.3
    Uninstalling urllib3-1.24.3:
      Successfully uninstalled urllib3-1.24.3
Successfully installed pandas-read-xml-0.0.7 pyarrow-0.17.1 pytz-2020.1 urllib3-1.25.10 xmltodict-0.12.0

In [1]:
import pandas_read_xml as pdx
import pandas as pd

Nutidsdata

In [2]:
url="http://api.sehavniva.no/tideapi.php?lat=59.911491&lon=10.757933&fromtime=2020-09-06T00%3A00&totime=2020-09-30T00%3A00&datatype=all&refcode=cd&place=Oslo&file=&lang=en&interval=10&dst=0&tzone=&tide_request=locationdata"

df = pdx.read_xml(url, ['tide', 'locationdata', 'data'])
df

           @type @unit                                         waterlevel
0    observation    cm  [{'@value': '81.7', '@time': '2020-09-06T00:00...
1     prediction    cm  [{'@value': '69.8', '@time': '2020-09-06T00:00...
2  weathereffect    cm  [{'@value': '11.8', '@time': '2020-09-06T00:00...
3       forecast    cm  [{'@value': '70.9', '@time': '2020-09-07T02:00...

Ældre

In [3]:
url="http://api.sehavniva.no/tideapi.php?lat=59.911491&lon=10.757933&fromtime=2019-01-01T00%3A00&totime=2019-12-31T00%3A00&datatype=all&refcode=cd&place=Oslo&file=&lang=en&interval=60&dst=0&tzone=&tide_request=locationdata"

df = pdx.read_xml(url, ['tide', 'locationdata', 'data'])
df

           @type @unit                                         waterlevel
0    observation    cm  [{'@value': '108.9', '@time': '2019-01-01T00:0...
1     prediction    cm  [{'@value': '76.3', '@time': '2019-01-01T00:00...
2  weathereffect    cm  [{'@value': '32.7', '@time': '2019-01-01T00:00...

In [4]:
source=pd.DataFrame.from_dict(df.waterlevel[0])
source
#pd.DataFrame.from_dict(df.waterlevel[1])

     @value                      @time @flag
0     108.9  2019-01-01T00:00:00+01:00   obs
1     127.7  2019-01-01T01:00:00+01:00   obs
2     138.0  2019-01-01T02:00:00+01:00   obs
3     137.6  2019-01-01T03:00:00+01:00   obs
4     126.3  2019-01-01T04:00:00+01:00   obs
...     ...                        ...   ...
8732  115.1  2019-12-30T20:00:00+01:00   obs
8733  118.4  2019-12-30T21:00:00+01:00   obs
8734  114.6  2019-12-30T22:00:00+01:00   obs
8735  105.4  2019-12-30T23:00:00+01:00   obs
8736  100.6  2019-12-31T00:00:00+01:00   obs

[8737 rows x 3 columns]

In [5]:
column_names=['Value','Timestamp','Flag']

test=source
col_dict = {test.columns[0]: column_names[0],test.columns[1]: column_names[1],test.columns[2]: column_names[2]}   ## key→old name, value→new name
test.columns = [col_dict.get(x, x) for x in test.columns]
test.columns
source=test
source

      Value                  Timestamp Flag
0     108.9  2019-01-01T00:00:00+01:00  obs
1     127.7  2019-01-01T01:00:00+01:00  obs
2     138.0  2019-01-01T02:00:00+01:00  obs
3     137.6  2019-01-01T03:00:00+01:00  obs
4     126.3  2019-01-01T04:00:00+01:00  obs
...     ...                        ...  ...
8732  115.1  2019-12-30T20:00:00+01:00  obs
8733  118.4  2019-12-30T21:00:00+01:00  obs
8734  114.6  2019-12-30T22:00:00+01:00  obs
8735  105.4  2019-12-30T23:00:00+01:00  obs
8736  100.6  2019-12-31T00:00:00+01:00  obs

[8737 rows x 3 columns]

In [ ]:
import altair as alt

alt.data_transformers.disable_max_rows()
alt.Chart(source).mark_line().encode(

    alt.X('Timestamp:T', axis=alt.Axis(title='Vandstand Oslo)',titleColor='Blue')),
    y='Value:Q'
).interactive().properties(width=1000,height=200)
#https://www.aftenposten.no/osloby/i/g7Rnr5/trafikkproblemer-og-store-oversvoemmelser-etter-kraftig-uvaer-i-oslo