# 1.Portfolio problematik

##1.1 Placering og forskydning

### 1.1.1 Angiv udvælgelseskriterier

In [ ]:
import pandas as pd
data=pd.read_json("https://platform-rest-prod.ngdata.no/api/FindStore/StoresClosestToMe/1300/?latitude=65.4&longitude=16.8&minnumberofstores=200&maxNumberOfStores=300&maxDistance=2470554")

### 1.1.2 Vælg tabeller / filer af interesse

In [ ]:
database=[]
#data = data.assign(**{'latitude': 0.1, 'longitude': 0.1})
for i, store in enumerate(data.store):
  store['latitude']=store['location']['latitude']
  store['longitude']=store['location']['longitude']
  database.append(store)
database=pd.DataFrame(database)
database.head(3)

              id  chainid  ...   latitude  longitude
0  7080000302468     1300  ...  58.969869   5.728278
1  7080001120832     1300  ...  59.918618  10.953516
2  7080001416409     1300  ...  60.143909  11.189365

[3 rows x 24 columns]

### 1.1.3 Vælg data i en tabel / fil

In [ ]:
import altair as alt

countries = alt.topo_feature('https://dmws.hkvservices.nl/dataportal/data.asmx/read?database=vega&key=europe', 'europe') 

norway =alt .  Chart ( countries ) .  mark_geoshape (    fill='lightgray',
    stroke='white').encode(
)

butikker = alt.Chart(database).mark_circle(
color="black"
).encode(
    longitude='longitude:Q',
    latitude='latitude:Q',
    color=alt.value('black'),
    tooltip=['name:N','regionname:N','municipality:N','county:N','latitude:Q','longitude:Q'],
)


(norway+butikker).project( #projektere visning background+
    type= 'mercator', #vælg projektering
    scale= 1000, #skalere visning
    center= [12,65],  #centere visning på følgende gps koordinate
) .  properties (
     width = 600 ,
     height = 600
).properties(title="Meny butikker").save('Meny.html')