
<img align="left" style="padding-right:100px;" src="http://pvexpect.com/Driftsledelse/Dagligvarer/nmbu.png">

  **Digital Driftsledelse - IND210**

 Jesper Ørntoft Frausig, 2021

#Øvelse - Tidsserier


**[Introduksjon](#Introduksjon)**
- [Trin 1](#Trin_1) - Importer pandas
- [Trin 2](#Trin_2) - Hent værdata fra et API 
- [Trin 3](#Trin_3) -  Tidsformatere tidskolonne
- [Trin 4](#Trin_4)  - Fjerne tidssonen 
- [Trin 5](#Trin_5)  - Fjern unødvendige kolonner
- [Trin 6](#Trin_6)  - Omnavngiv kolonner
- [Trin 7](#Trin_7)

**[Hva har jeg lært](#lærdom)**

**[Begreber](#Begreber)**















<br></br>
<br></br>
<br></br>
<br></br>
<br></br>

<a name="Introduksjon"></a>

#**Introduksjon**



Vi henter og forbereder data fra et vær-API, kalt THREDDS Data Server og Nibio værstasjoner



> Hva vil du lære i følgende øvelse:
* [ ] Hvordan du importerer pandaer
* [ ] Hvordan du henter data fra en API
* [ ] Hvordan du formaterer data
* [ ] Hvordan du fjerner tidssonen
* [ ] Hvordan du fjerner unødvendige kolonner
* [ ] Hvordan du endrer kolonner

##**Trin 1** - Importer pandas

Først importeres pandaer (vennligst sjekk [Hent bibliotekker](#Hent_bibliotekker_med_verktøyer) ), å kunne bruke pandabiblioteket til dataanalyse.


```
import pandas as pd
```

In [ ]:
import pandas as pd

##**Trin 2** -  henter værdata fra et API


Vi henter værdata fra et API (Sjekk vennligst  [Les_fra_API](#Les_fra_API) )






```
temp  = pd.read_csv(url) 
```




Prøv å lese url og se om du forstår hva den refererer til

```
url='https://thredds.ucar.edu/thredds/ncss/grib/NCEP/GFS/Global_0p5deg/best?req=station&var=Apparent_temperature_height_above_ground&&latitude=60.70290856516992&longitude=10.867140671892406&time_start=2020-01-01T12:00:00-05:00&time_duration=PT3H&time_end=2021-02-20T12:00:00-05:00&vertCoord=2&accept=CSV' 

```

In [ ]:
url='https://thredds.ucar.edu/thredds/ncss/grib/NCEP/GFS/Global_0p5deg/best?req=station&var=Apparent_temperature_height_above_ground&&latitude=60.70290856516992&longitude=10.867140671892406&time_start=2020-01-01T12:00:00-05:00&time_duration=PT3H&time_end=2021-02-20T12:00:00-05:00&vertCoord=2&accept=CSV' #Pressure_reduced_to_MSL_msl Albedo_surface_Mixed_intervals_Average
temp  = pd.read_csv(url)

                     Temperatur (Kelvin)
time
2021-01-26 00:00:00           257.500092
2021-01-26 03:00:00           257.831085
2021-01-26 06:00:00           257.375549
2021-01-26 09:00:00           257.851257
2021-01-26 12:00:00           261.448730
...                                  ...
2021-02-20 03:00:00           270.100006
2021-02-20 06:00:00           270.027039
2021-02-20 09:00:00           270.090454
2021-02-20 12:00:00           271.014709
2021-02-20 15:00:00           272.399994

[206 rows x 1 columns]

##**Trin 3** -  tidsformatere tidskolonne



Dernest formatere vi kolonnen "time" i tidsformattet "datetime" (Sjekk vennligst [til kalendertid](#til_kalendertid) ) 

```
pd.to_datetime([], errors='coerce', format='%Y-%m-%d %H:%M:%S')
```

In [ ]:
temp.time = pd.to_datetime(temp.time, errors='coerce', format='%Y-%m-%d %H:%M:%S')

##**Trin 4** -  fjerne tidssonen


Vi fjerner tidssonen slik at det er lettere å holde styr på (Sjekk vennligst [specifisere tidssone](#lokaliser_tid) )

```
pd.to_datetime([]).dt.tz_localize(None)
```

In [ ]:
temp.index=pd.to_datetime(temp['time']).dt.tz_localize(None)

##**Trin 5** - fjern unødvendige kolonner



Så fjerner vi også kolonner som vi ikke trenger (Sjekk vennligst  [fjern kolonne](#fjern_kolonner) )


```
temp.drop(columns=[''],inplace=True)
```

In [ ]:
temp.drop(columns=['time','latitude[unit="degrees_north"]','vertCoord[unit="m"]','longitude[unit="degrees_east"]'],inplace=True)

##**Trin 6** - omnavngiv kolonner



Til sidst omnavngiver vi kolonnen, så den er nem at refere til (Sjekk vennligst [Omnavngiv](#Omnavngiv) )




```
temp=temp.rename(columns={temp.columns[0]: "Temperatur (Kelvin)"})
```

In [ ]:
temp=temp.rename(columns={temp.columns[0]: "Temperatur (Kelvin)"})
temp

**Vinn**

Vi følger samme tilnærming som i trinn 1-6.

Nå henter vi data for vinn.

In [ ]:

import pandas as pd

url='https://thredds.ucar.edu/thredds/ncss/grib/NCEP/GFS/Global_0p5deg/best?req=station&var=Wind_speed_gust_surface&latitude=60.70290856516992&longitude=10.867140671892406&time_start=2020-01-01T12:00:00-05:00&time_duration=PT3H&time_end=2021-02-20T12:00:00-05:00&vertCoord=2&accept=CSV' #Pressure_reduced_to_MSL_msl Albedo_surface_Mixed_intervals_Average
wind  = pd.read_csv(url) 

wind.time = pd.to_datetime(wind.time, errors='coerce', format='%Y-%m-%d %H:%M:%S')
wind.index=pd.to_datetime(wind['time']).dt.tz_localize(None)


wind.drop(columns=['time','latitude[unit="degrees_north"]','longitude[unit="degrees_east"]'],inplace=True)
wind=wind.rename(columns={wind.columns[0]: "Vinn (m/s)"})

wind

                     Vinn (m/s)
time
2021-01-26 00:00:00    2.520575
2021-01-26 03:00:00    2.400703
2021-01-26 06:00:00    2.203087
2021-01-26 09:00:00    2.407972
2021-01-26 12:00:00    1.850945
...                         ...
2021-02-20 03:00:00   13.630651
2021-02-20 06:00:00   14.165317
2021-02-20 09:00:00   13.053370
2021-02-20 12:00:00   10.536890
2021-02-20 15:00:00    7.954669

[206 rows x 1 columns]

**Vann i atmosfæren**


Vi følger samme tilnærming som i trinn 1-6.

Nå samler vi inn data for vann i atmosfæren.

In [ ]:

import pandas as pd

url='https://thredds.ucar.edu/thredds/ncss/grib/NCEP/GFS/Global_0p5deg/best?req=station&var=Precipitable_water_entire_atmosphere_single_layer&&latitude=60.70290856516992&longitude=10.867140671892406&time_start=2020-01-01T12:00:00-05:00&time_duration=PT3H&time_end=2021-02-20T12:00:00-05:00&vertCoord=2&accept=CSV' #Pressure_reduced_to_MSL_msl Albedo_surface_Mixed_intervals_Average
water  = pd.read_csv(url) 


water.time = pd.to_datetime(water.time, errors='coerce', format='%Y-%m-%d %H:%M:%S')
water.index=pd.to_datetime(water['time']).dt.tz_localize(None)

water=water.rename(columns={water.columns[3]: "Vann i atmosfæren (kg/m-2)"})
water.drop(columns=['time','latitude[unit="degrees_north"]','longitude[unit="degrees_east"]'],inplace=True)

water

                     Vann i atmosfæren (kg/m-2)
time
2021-01-26 00:00:00                         3.4
2021-01-26 03:00:00                         3.1
2021-01-26 06:00:00                         2.5
2021-01-26 09:00:00                         2.4
2021-01-26 12:00:00                         2.8
...                                         ...
2021-02-20 03:00:00                        14.5
2021-02-20 06:00:00                        15.5
2021-02-20 09:00:00                        15.3
2021-02-20 12:00:00                        15.7
2021-02-20 15:00:00                        14.9

[206 rows x 1 columns]

##**Trin 7**



Vi ønsker å slå sammen alle datasett i en stor dataramme (Sjekk vennligst [Sammenføre_data](#Sammenføre_data) ) 

Vi fletter datasettene med

```
source=pd.concat([''],axis=1)
```

Vi sampler data på daglig nivå i stedet for hver tredje time (Sjekk vennligst [Gensampling](#Gensampling) )
Dertil tages gjennemsnit av verdien (Sjekk vennligst [gjennemsnit](#gjennemsnit) ), efter gensampling


```
.resample('D').mean() 
```

In [ ]:

source=pd.concat([wind, temp, water],axis=1).resample('D').mean() #.resample('3H').interpolate(method='linear', limit_direction='both') #
source['time']=source.index
source.head()

            Vinn (m/s)  ...       time
time                    ...
2021-01-26    2.081133  ... 2021-01-26
2021-01-27    2.472910  ... 2021-01-27
2021-01-28    1.745940  ... 2021-01-28
2021-01-29    0.953865  ... 2021-01-29
2021-01-30    2.237133  ... 2021-01-30

[5 rows x 4 columns]

Nå er vi klare til å se den nye datarammen vår.

Vi bruker biblioteket altair


```
import altair as alt
```


Dette er prinsippet:
```
alt.Chart(source.dropna()).mark_line().transform_fold(list(source.columns.drop('time'))).encode(
    x='time:T',
    y='value:Q',
)
```

Vi bruker fasettfunksjonen til å vise 3 vertikale grafer


```
.facet(
    row='key:N',
)
```

In [ ]:

import altair as alt

alt.Chart(source.dropna()).mark_line().transform_fold(list(source.columns.drop('time'))).encode(
    x='time:T',
    y='value:Q',
    color='key:N',
    tooltip=['value:Q','key:N']
).properties(
    width=300,
    height=180
).facet(
    row='key:N',
).resolve_scale(y='independent').interactive().properties(title="Lokation: NIBIO Apelsvoll Senter for Presisjonsjordbruk") #.save('tidsserier.html')

alt.FacetChart(...)

**Trin 6**

Hvordan kan vi skape verdie med datasettet? og for hvilken målgruppe?

<a name="lærdom"></a>
#**Hva har jeg lært idag?**



> Hva har du lært?
* [x] Hvordan du importere pandas
* [x] Hvordan du henter data fra en api
* [x] Hvordan du tidsformatere data
* [x] Hvordan du fjerner tidszonen
* [x] Hvordan du fjerner unødvendige kolonner
* [x] Hvordan du omnavngiv kolonner


Hva vil du lære i morgen?

<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>


# **Begreber**




-- [Les fra API](#Les_fra_API)

-- [til kalendertid](#til_kalendertid)

-- [til specifisere tidssone](#lokaliser_tid)

-- [Sammenfør data](#Sammenfør_data)

-- [fjern kolonne](#fjern_kolonne)

-- [Gensampling](#Gensampling)
-- [Sammenføre_data](#Sammenføre_data)

<a name="Hent_bibliotekker_med_verktøyer"></a>
###**Hent bibliotekker av verktøyer** - `Import` 
- `Import`

Python-kode i en modul får tilgang til koden i en annen modul ved å importere den. 
I Python er en modul en fil i .py-filformat som inneholder Python-kode.

Det mest populære bibliotek til data analyse er pandas. 
Pandas er en data struktur, litt likesom en tabel i Excel med rader og kolonner.

Import funksjonen kombinerer to operasjoner; den søker etter den navngitte modulen - `pandas` - , så binder den modulet til et navn, i dette eksempel `pd`.
Vanligvis foretrekker vi forekortelser, og importere bibliotekker, i forkortet form: `pandas as pd`. Fremover hetter bibliotekket `pd`

```
import pandas as pd
```

Genereltset importer vi funksjoner såledelse
```
import vårfunksjon
```

Alternativet til å importere funksjoner er å definere funksjonen direkte: 
```
def vårfunksjon():
  return x + 2
```


Referenser
* Python for Data Analysis, Wes McKinney, s. 36

**Eksempel**

Åbning af nettlink med pandas. Filen er i json-format og har innebygde data

In [ ]:
import pandas as pd
pd.read_json("https://platform-rest-prod.ngdata.no/api/FindStore/StoresClosestToMe/1300/?latitude=65.4&longitude=16.8&minnumberofstores=200&maxNumberOfStores=300&maxDistance=2470554")

     distance                                              store
0           1  {'id': 7080000918737, 'chainid': 1300, 'name':...
1           1  {'id': 7080001110611, 'chainid': 1300, 'name':...
2           1  {'id': 7080001100063, 'chainid': 1300, 'name':...
3           1  {'id': 7080000032075, 'chainid': 1300, 'name':...
4           1  {'id': 7080000001903, 'chainid': 1300, 'name':...
..        ...                                                ...
174         1  {'id': 7080000003280, 'chainid': 1300, 'name':...
175         1  {'id': 7080000062881, 'chainid': 1300, 'name':...
176         1  {'id': 7080000748273, 'chainid': 1300, 'name':...
177         1  {'id': 7080001007157, 'chainid': 1300, 'name':...
178         1  {'id': 7080001120832, 'chainid': 1300, 'name':...

[179 rows x 2 columns]

**Spørsmål:**
>* Hvad betyder `import`?
>* Må vi vete på forhånd hvilke bibliotekker, som vi vil anvende, eller finder python selv ut av det?
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>



<a name="Pandas"></a>

##**Pandas**  - `pandas`

Pandas er et programvarebibliotek skrevet for Python-programmeringsspråket for manipulering og analyse av data. 
Spesielt tilbyr den datastrukturer og operasjoner for å manipulere numeriske tabeller og tidsserier.


| DataFrame-objekt for databehandling med integrert indeksering.                                                                                                                        |
|---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| Verktøy for å lese og skrive data mellom datastrukturer i hukommelsen og forskjellige filformater.                                                                                    |
| Datajustering og integrert håndtering av manglende data.                                                                                                                              |
| Omforming av datasett.                                                                                                                                                                |
| Etikettbasert kutting, indeksering og delmengder av store datasett.                                                                                                                   |
| Innsetting og sletting av datakolonner.                                                                                                                                               |
| Gruppere datasett i bestemmt format                                                                                                                                                   |
| Datasett sammenslåing og sammenføyning.                                                                                                                                               |
| Hierarkisk indeksering for å arbeide med høydimensjonale data                                                                                                                         |
| Tidsseriefunksjonalitet: Generering av datoperiode og frekvenskonvertering, statistikk for bevegelige vinduer, lineære regresjoner i bevegelige vinduer, datoflytting og forsinkelse. |
| Datafiltrering.                                                                                                                                                                       |



Referenser:


s. 97, Python Data Science Handbook

s.  137-142, Python for Finance
[pandas dokumentation](https://pandas.pydata.org/)

<br></br>
>**Spørsmål:**
>* Hvorfor bruker vi Pandas til analyse av data?
>* Kan du give eksempler på funksjoner, som både Excel og Python kan løse?
>* Kjenner du funksjoner, som kan løses i Python eller, som er nemmere i Python fremfor Excel?
<br></br>


<a name="til_kalendertid"></a>


##**Formatere vi kolonnen "time" i tidsformattet "datetime".**  

- `pd.to_datetime`



Pandas to_datetime () -metoden hjelper til med å konvertere streng Dato-tid til Python Date-tidsobjekt.

Her er parametere som kan spesifiseres

| Angivelse | Beskrivelse             | Enhed              | Kommentarer                                                                                   |
|-----------|-------------------------|--------------------|-----------------------------------------------------------------------------------------------|
| % m       | To-sifret måned         | [01, 12]           |                                                                                               |
| % d       | To-sifret dag           | [01, 31]           |                                                                                               |
| % H       | Time (24-timers klokke) | [00, 23]           |                                                                                               |
| % I       | Time(12-timers klokke)  | [01, 12]           |                                                                                               |
| % M       | To-sifret minutt        | [00, 59]           |                                                                                               |
| % S       | Second                  | [00, 61]           | (sekunder 60, 61 utgjør sprangsekunder)                                                       |
| % w       | Ukedag som heltall      | [0 (søndag), 6]    |                                                                                               |
| % U       | Ukenummer for året      | [00, 53]           | Søndag regnes som den første dagen i uken året er “uke 0”                                     |
| % W       | Ukenummer for året      | [00, 53]           | Mandag regnes som den første dagen i uken, og dager før den første mandagen i året er “uke 0” |
| % z       | tidssone forskjøvet     | + HHMM eller -HHMM | tom hvis tidssonen er "naiv"                                                                  |
| % F       | Snarvei                 | % Y-% m-% d        | f.eks. 2020-4-18                                                                              |
| % D       | Snarvei                 | % m /% d /% y      | f.eks. 20.04.12                                                                               |


referense
* s. 44-46 Python for Data analysis

In [ ]:
import pandas as pd
df = pd.DataFrame({'year': [2015, 2016], 'month': [2, 3],'day': [4, 5]})
df

   year  month  day
0  2015      2    4
1  2016      3    5

In [ ]:
pd.to_datetime(df)

0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]

<br></br>
>**Spørsmål:**
> * Hvordan er kalenderformatering annerledes enn angitt i tid i sekunder?
<br></br>
<br></br>
<br></br>
<br></br>

<a name="lokaliser_tid"></a>
##**Lokalisere tidszone** -  `data.dt.tz_localize(None)`



Denne metoden tar en tidssone (tz) naiv Datetime Array / Index-objekt og gjør denne tidssonen oppmerksom. Det flytter ikke tiden til en annen tidssone. Tidssone lokalisering hjelper deg med å bytte fra tidssone bevisst til tidssone uvitende objekter.


```
temp.index=pd.to_datetime(temp['time']).dt.tz_localize(None)
```

>**Spørsmål:**
> * Hvordan er kalenderformatering annerledes enn angitt i tid i sekunder?
<br></br>
<br></br>
<br></br>
<br></br>

<a name="Gensampling"></a>

##**Gensampling** - `.resample('D')`


Pandas dataframe.resample () -funksjonen brukes primært til tidsseriedata.
En tidsserie er en serie datapunkter indeksert (eller oppført eller tegnet) i tidsrekkefølge. Vanligvis er en tidsserie en sekvens tatt på påfølgende tidspunkter. Det er en praktisk metode for frekvenskonvertering og sampling av tidsserier. Objektet må ha en datetime-lignende indeks (DatetimeIndex, PeriodIndex eller TimedeltaIndex), eller sende datetime-lignende verdier til søkeordet på eller nivå.

Resampling genererer en unik samplingsfordeling på grunnlag av de faktiske dataene. Vi kan bruke forskjellige frekvenser for å sample våre tidsseriedata. Dette er en veldig viktig teknikk innen analytics.
De mest brukte tidsseriefrekvensene er -
W: ukentlig frekvens
M: månedssluttfrekvens
SM: halvmåneders sluttfrekvens (15. og slutten av måneden)
Spørsmål: kvart sluttfrekvens

| Frekvens | Beskrivelse                                            |
|----------|--------------------------------------------------------|
| W        | ukentlig frekvens                                      |
| M        | månedssluttfrekvens                                    |
| SM       | halvmåneders sluttfrekvens (15. og slutten av måneden) |
| Q        | kvart sluttfrekvens                                    |v

s. 198.199

**Gjennemsnit** - `.mean()`

**Interpolering** - `.interpolate(method='linear', limit_direction='both')`


Fyll NaN-verdier ved hjelp av en interpolasjonsmetode.


Pandas dataframe.interpolate () -funksjonen brukes i utgangspunktet til å fylle NA-verdier i datarammen eller serien. Men dette er en veldig kraftig funksjon for å fylle de manglende verdiene. Den bruker forskjellige interpolasjonsteknikker for å fylle de manglende verdiene i stedet for å hardkode verdien.



https://www.geeksforgeeks.org/python-pandas-dataframe-interpolate/

| Retning  | Beskrivelse |
|----------|-------------|
| forward  | Fremover    |
| backward | Bakover     |
| both     | begge veie  |

**Index** - `.source.index`


informasjon om aksemerking i pandaobjekter tjener mange formål:

Identifiserer data (dvs. gir metadata) ved bruk av kjente indikatorer, viktig for analyse, visualisering og interaktiv konsollvisning.

Aktiverer automatisk og eksplisitt datajustering.

Tillater intuitiv henting og innstilling av delmengder av datasettet.


<a name="fjern_kolonner"></a>


##**Tilføj/fjern data** - `data.drop([])`



Slipp spesifiserte etiketter fra rader eller kolonner.

Fjern rader eller kolonner ved å spesifisere etikettnavn og tilsvarende akse, eller ved å spesifisere direkte indeks- eller kolonnenavn. Når du bruker en multi-indeks, kan etiketter på forskjellige nivåer fjernes ved å spesifisere nivået.

```
data.drop(columns=[''],inplace=True)
```



| Parameter | Betydning | Format                                       | Beskrivelse                                                                                     |
|-----------|-----------|----------------------------------------------|-------------------------------------------------------------------------------------------------|
| labels    | etiketter | enkelt etikett eller listelignende           | Indeks eller kolonneetiketter som skal slippes.                                                 |
| axis      | akse      | akse {0 eller ‘indeks’, 1 eller ‘kolonner’}  | Om du vil slippe etiketter fra indeksen (0 eller ‘indeks’) eller kolonner (1 eller ‘kolonner’). |
| column    | kolonne   | kolonner: enkelt etikett eller listelignende | kolonneetiketter som skal slippes.                                                              |
| inplace   | inplace   | True / False                                 | Hvis sant, utføres operasjonen umiddelbart                                                      |

<a name="Sammenføre_data"></a>

##**Sammenføre data** - `pd.concat`

Kombinering av forskjellige data kilder kan bidrage til nye konklusjoner.

Disse metoder kan være
* enkel sammenkobling av to forskjellige datasett
* kompliserte sammenføyninger av databaser
* sammenslåinger som håndterer korrekt overlapp mellom datasettene riktig. 
Series og DataFrames er forberedt til å håndtere denne typen operasjoner, så dette kan gjøres raskt og korrekt.

En vanlig metode er enkel sammenkobling av Series og DataFrames med
`pd.concat-funksjon`

Pandaobjekter kan sammenkobles langs en bestemt akse med en spesifiseret logiske operasjoenr.
Dertil kan også foretages hierarkisk indeksering på sammenkoblingsaksen.

Andre metoder er `pd.merge()` og `pd.join()`



For eksempel_
`database=pd.concat([database,df_time],join="outer", axis=1)  `



Referense:
* [pd.concat](https://pandas.pydata.org/docs/user_guide/merging.html)

I dette eksempel, sammenføres kommuner:

In [ ]:
import pandas as pd
ser1 = pd.Series(['Halden', 'Moss', 'Sarpsborg'], index=[1, 2, 3])
ser2 = pd.Series(['Frederikstad', 'Hvaler', 'Aremark'], index=[4, 5, 6])
pd.concat([ser1, ser2])

1          Halden
2            Moss
3       Sarpsborg
4    Frederikstad
5          Hvaler
6         Aremark
dtype: object

* s. 141-146, Python Data Science Handbook

<br></br>
> **Spørsmål**
> * Hvorfor må man sammenkobling av forskjellige datasett spesifiseres for å fungere?
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>






<a name="Les_fra_API"></a>



##**Les fra API** - 
```
url='https://thredds.ucar.edu/thredds/ncss/grib/NCEP/GFS/Global_0p5deg/best?req=station&var=Apparent_temperature_height_above_ground&&latitude=60.70290856516992&longitude=10.867140671892406&time_start=2020-01-01T12:00:00-05:00&time_duration=PT3H&time_end=2021-02-20T12:00:00-05:00&vertCoord=2&accept=CSV' 


```


Her er en oversikt over parameter, som kan settes, med forklaring på norsk.

| Metode                                            | på norsk                                  | Beskrivelse                                                      |
|---------------------------------------------------|-------------------------------------------|------------------------------------------------------------------|
| Global_0p5deg                                     | Global_0p5 grader                         | Oppløsning er 0.5 grader                                         |
| station                                           | stasjon                                   | for temperatur, idensifiseres den tetteste stasjon               |
| Apparent_temperature_height_above_ground          | Tilsynelatende_temperatur_høyde_over_jord | Tilsynelatende temperatur, ved spesifisert høydenivå over bakken |
| Precipitable_water_entire_atmosphere_single_layer | Nedfellbart_vann_hemmet_atmosfære_        | Nedbørbart vann for hele atmosfærelaget                          |
| Wind_speed_gust_surface                           | Vindhastighet_overflate                   | Vindhastighet (vindkast) for bakken eller vannoverflaten         |
| latitude                                          | breddegrad                                | lokasjon, som man er interessert                                 |
| longitude                                         | lengdegrad                                | lokasjon, som man er interessert                                 |
| time_start                                        | time_start                                |  start tid. Bør alltid være i fremtiden for at oppnå en prognose |
| time_duration                                     | Varighet                                  |  period for målpunkt. f.eks. hver 3. time                        |
| time_end                                          | time_slut                                 |  slut tid                                                        |
| vertCoord                                         | vertCoord                                 |  konvention for koordinate                                       |
| accept                                            | aksepterer                                |  data format (f.eks CSV)                                         |




referenser
s. 114-120 - Data Science from Scratch
s. 357 - 372

Referense til API:
* https://rda.ucar.edu/thredds/metadata/aggregations/g/ds083.2/2/TP?metadata=variableMap

* https://thredds-jumbo.unidata.ucar.edu/thredds/catalog/grib/NCEP/GFS/Global_0p5deg/GFS_Global_0p5deg_20210301_1200.grib2/catalog.html?dataset=grib/NCEP/GFS/Global_0p5deg/GFS_Global_0p5deg_20210301_1200.grib2

**Index** - `.source.index`

source['time']=source.index




Sett DataFrame-indeksen ved hjelp av eksisterende kolonner (av riktig lengde)



<a name="Omnavngiv"></a>

 
##**Omnavngiv kolonne** - `.rename()`

`rename(inplace=True, columns={column: column)})`

De nye kolonnenavn har ikke "." i navnet, og er lettere at håndtere




> **Spørsmål**
> * Kan alle symboler brukes, som kolonnenavne?
> * Hvorfor kan bestemte symboler i kolonnenavne være et problem?
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>